/*모바일용 css */
#wrap{
  text-align: center;
  width: 100%;
}
header{
  margin-bottom: 40px;
  padding-top: 10px;
}
.menu{
  margin: 0 auto;
  float: left;
  display: inline-block;
}
.info_logo{
  display: block;
}
.info_logo a{
  clear: both;
  padding-right: 40px;
  text-decoration: none;
  color: #c65353;
  font-family: orbitron;
  font-size: 24px;
  font-size: 1.5rem;
}
.search {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  border-bottom: 1px solid #000;
}

input[type="search"]{
  width: 100%;
  text-align: center;
  border: none;
  font-size: 14px;
}
.bakery{
  padding-top: 20px;
}
.bakeryname{
  font-family: Nanum Pen Script;
  font-size: 48px;
  font-size: 3rem;
  color:#ffaa00;
}
.ceosay{
  padding-top: 28px;
  color:#996900;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: Nanum Pen Script;
}
nav {

}
nav li {
  float: left;
  width: 33.33333333%;
  box-sizing: border-box;
}
nav li a {
  font-style: italic;
  font-family: Nanum Pen Script;
  font-size: 24px;
  font-size: 1.5rem;
  color: #332300;
}
main{
  text-align: center;
  padding-top: 20px;
}
main div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.item{
  text-align: left;
  font-style: oblique;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ccc;
  padding-left: 5%;
}
.address , .tell, .hour{
  font-size: 24px;
  font-size: 1.5rem;
  font-family: Nanum Pen Script;
  font-weight: bold;
}
#address, #tell, #hour{
  font-family: Nanum Pen Script;
  font-weight: normal;
}
#content2>div>img , p{
  margin: 0 auto;
  width: 90%;
}
.content_info{
  font-style: italic;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ccc;
}

#content2>div{
  margin-bottom: 80px;
}

#bestitem_name{
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: Nanum Brush Script;
}
#bestitem_desc{
  font-size: 22px;
  font-size: 1.375rem;
  font-family: Nanum Brush Script;
}
#content3>img{
  display: inline-block;
  width: 45%;
}
footer{
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
}
