#wrap {
  text-align: center;
}

.info {
  height: 19px;
  border-bottom: 1px solid black;
}

#info_logo {
  float: left;
  color: #c65353;
}

.info_right {
  float: right;
}

header {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 100%;
  height: 35px;

}

.logo {
  height: 34px;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 28px;
  font-size: 1.75rem;
  color: #c65353;

}

main{

}

.search{

}

input[type="search"]{
  text-align: center;
  width: 100%;
  height: 30px;
  border: 1px solid black;
}

.bakeryheader{
  height: 100px;
  padding-bottom: 10px;
}

.bakeryname{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
}

.ceosay{
  font-size: 20px;
  font-size: 1.25rem;
  font-style: oblique;
  color: #a6a6a6;
  padding-top: 5px;
}

.content{
  height: 400px;
}

.story{
  height: 200px;
  padding: 10px;
}

.story_contents{
  width: 100%;
  padding-top: 100px;
}

.story_contents div{
  width: 30%;
  display: inline-block;
}

.story_contents img{
  width: 100%;
}

footer{
  clear: both;
  background-color: #df9f9f;
  height: 50px;
}

.footer{

}

@media all and (min-width:780px){
  #wrap {
  text-align: center;
}

.info {
  height: 19px;
  border-bottom: 1px solid black;
}

#info_logo {
  float: left;
  color: #c65353;
}

.info_right {
  float: right;
}

header {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 100%;
  height: 35px;

}

.logo {
  height: 34px;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 28px;
  font-size: 1.75rem;
  color: #c65353;

}

main{

}

.search{

}

input[type="search"]{
  text-align: center;
  width: 100%;
  height: 30px;
  border: 1px solid black;
}

.bakeryheader{
  height: 100px;
  padding-bottom: 10px;
}

.bakeryname{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
}

.ceosay{
  font-size: 20px;
  font-size: 1.25rem;
  font-style: oblique;
  color: #a6a6a6;
  padding-top: 5px;
}

.content{
  height: 400px;
}

.story{
  height: 200px;
}

.story_contents{
  width: 100%;
  padding-top: 30px;
}

.story_contents div{
  width: 30%;
  display: inline-block;
}

.story_contents img{
  border-radius: 100px;
  max-width: 200px;
}

footer{
  background-color: #df9f9f;
  height: 50px;
}

.footer{

}

}
