<style>
 .container {
   display: flex;
   flex-direction: column;
 }
 .content {
   display: flex;
 }
 header {
   text-align: center;
   border-bottom: 1px solid black;
 }
 .title {
   color: tomato;
   border-bottom: 1px solid black;
 }

 .bakeryname {
   color: brown;
 }
 .ceosay {
   color: green;
 }
 nav {
   text-align: center;
   border-bottom: 1px solid black;
 }
 main {
   text-align: center;
   border-right: 1px solid black;
 }
 .main{
   width: 80%;
 }
 .bakerystory {

 }
 footer {
   text-align: center;
   border-top: 1px solid black;
 }
 </style>
